build
*.class
.idea/
*.o
*.so
*.pyc
*.sqlite3
.*.sw[a-z]
.sw[a-z]
*~
.DS_Store
bin-debug/*
bin-release/*
bin/*
tags
*.beam
*.dump
env/
.env/
*egg-info*
misc/
dist/
Icon\?
node_modules/
npm-debug.log
yarn-debug.log
ansible/*.retry
test/build/
.env-vars
.node-xmlhttprequest-*
bid-selection/bids.json
yarn-error.log
